* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Noto Serif', serif;
  font-family: 'Kalam', cursive;
}

.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: linear-gradient(to bottom, rgba(52, 53, 54, 0.7) 0%, rgba(52, 53, 54, 0.6) 40%, rgba(20, 18, 18, 0.5) 75%, rgba(20, 18, 18, 0.3) 100%), url('./img/home-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.navigationBar {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  background-color: rgba(36, 36, 36, 0.8);

  width: 100vw;
  height: 55px;
  display: flex;
  justify-content: space-between;
  font-family: 'Kalam', cursive;

}

.navGroup {
  display: flex;
  justify-content: flex-end;

}

.navBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  color: rgb(137, 188, 255);
  text-decoration: none;
}

.navBtn:visited {
  color: #fff;
  color: rgb(137, 188, 255);
}

.navBtn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.navLogo {
  padding: 10px 30px;
}

.navLogo:hover {
  background-color: transparent;
}

.navContact {
  padding-right: 30px
}

.navHome {
  padding-left: 30px
}

.welcomeText {
  font-size: 40px;
}

.tcdc {
  font-size: 60px;
  font-weight: bold;
  color: rgb(137, 188, 255);
}

.joshua15 {
  font-size: 28px;
}

.homeContent {
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-family: 'Noto Serif', serif;

}

.content {
  width: 60%;
  text-align: justify;
  font-size: 17px;
  line-height: 1.8;
  margin-top: 20px;
}

.collectionImg {
  margin: 30px 0px 35px 0px;
  width: 55%;
}

h2,
h1 {
  /* color: rgb(0, 110, 255); */
  border: rgb(0, 110, 255) 2px dashed;
  border-radius: 20px;
  padding: 10px 50px;
  margin: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: rgb(61, 61, 61);
  padding: 0 15px;
  color: rgb(137, 188, 255);
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-family: 'Merriweather', serif;
}

.footerMenuContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  padding: 10px 0px;

}

.sitemapSocial {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-between;
}

.sitemap {
  display: flex;
  flex-direction: row;
}


.footerMenu {
  font-size: 14px;
  text-decoration: none;
  padding: 0 10px;
  color: rgb(137, 188, 255);
  font-weight: bold;
  /* font-family: 'Roboto', sans-serif; */
}

.footerContact {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.socialMedia {
  display: flex;
  font-size: 20px;
}

.socialMedia i {
  font-size: 40px;
  margin: 5px 0px 0px 17px;
}

.signUp {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 18px;
}

.signUpForm {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
}

input[type=text] {
  width: 60%;
  font-size: 13px;
  /* margin: 8px 0; */
  display: inline-block;
  padding: 10px;
  border: none;
  /* border-radius: 4px; */
  box-sizing: border-box;
}

input[type=submit] {
  width: 30%;
  font-size: 14px;
  padding: 9px;

  background-color: rgb(137, 188, 255);

  color: rgb(41, 41, 41);
  /* padding: 14px 20px; */
  margin: 8px 0;
  border: none;
  /* border-radius: 4px; */
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(127, 178, 245);
}

.footerBottom {
  width: 100vw;
  font-size: 11px;
  padding: 5px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(137, 188, 255);
  color: black;
}


.copyright {
  font-size: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}